/* customer */

.customer-pager {
    width: 100% !important;
    text-align: center !important;
}

.customer-list {
    padding: 20px;
}

.customer-box {
    padding: 20px;
    background: #fff;
    margin-bottom: 20px;
}

.customer-box strong {
    color: #555;
    font-size: 16px;
}

.name-location img {
    margin-right: 10px;
}

.customer-search-field {
    padding-left: 30px;
    margin-bottom: 10px;
}